$roboto : 'Roboto', sans-serif;

body{
	overflow: hidden; 
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	font: 14px $roboto;
	background-color: #e8e8e8;
}
.cf:before, .cf:after{
	content: "";
	display: table;
}
.cf:after{
	clear: both;
}
.btn {
    padding: 10px 20px;
    color: #fff;
    background-color: #03A9F4;
    @include rounded( 20px );
    border: 1px solid #03A9F4;
    cursor: pointer;
    @include transition( ease all 0.3s !important, false , false );
    &:hover{
    	color: #03A9F4;
    	background-color: #fff;
    };
}