body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  font: 14px "Roboto", sans-serif;
  background-color: #e8e8e8; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.ui-wrapper, .ui-view, .ui-block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }

.ui-block-inner {
  position: absolute; }

.movie-item-wrapper {
  position: absolute;
  float: left;
  width: 33.33%;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); }

.movie-poster, .movie-poster div {
  z-index: 99;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%; }
  .movie-poster div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.movie-info {
  display: none; }

.movie-item-wrapper {
  /*overflow: hidden;*/
  position: relative;
  transition: ease opacity 0.5s, ease left 1s, ease position 0.2s;
  -webkit-transition: ease opacity 0.5s, ease left 1s, ease position 0.2s;
  -moz-transition: ease opacity 0.5s, ease left 1s, ease position 0.2s;
  -ms-transition: ease opacity 0.5s, ease left 1s, ease position 0.2s;
  -o-transition: ease opacity 0.5s, ease left 1s, ease position 0.2s; }
  .movie-item-wrapper .movie-poster div, .movie-poster .movie-item-wrapper div div {
    transition: ease-in-out left 0.5s, ease-in-out transform 0.1s, ease opacity 0.3s;
    -webkit-transition: ease-in-out left 0.5s, ease-in-out transform 0.1s, ease opacity 0.3s;
    -moz-transition: ease-in-out left 0.5s, ease-in-out transform 0.1s, ease opacity 0.3s;
    -ms-transition: ease-in-out left 0.5s, ease-in-out transform 0.1s, ease opacity 0.3s;
    -o-transition: ease-in-out left 0.5s, ease-in-out transform 0.1s, ease opacity 0.3s; }
  .movie-item-wrapper.ng-enter {
    position: absolute;
    opacity: 0;
    left: 100%; }
  .movie-item-wrapper.ng-enter.ng-enter-active {
    opacity: 1;
    left: 0%;
    width: 100%; }
  .movie-item-wrapper.ng-leave {
    opacity: 1; }
  .movie-item-wrapper.ng-leave.ng-leave-active {
    opacity: 0; }

.movie-item-wrapper.ng-enter .movie-poster div, .movie-poster .movie-item-wrapper.ng-enter div div {
  left: -100%;
  transform: scale(0.8) rotate(-45deg);
  -webkit-transform: scale(0.8) rotate(-45deg);
  -moz-transform: scale(0.8) rotate(-45deg);
  -ms-transform: scale(0.8) rotate(-45deg);
  -o-transform: scale(0.8) rotate(-45deg);
  opacity: 0; }

.movie-item-wrapper.ng-enter.ng-ernter-active .movie-poster div, .movie-poster .movie-item-wrapper.ng-enter.ng-ernter-active div div {
  left: 0%;
  transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  opacity: 1; }

/*# sourceMappingURL=main.css.map */
