
@mixin shadow( $x: 0px, $y: 1px, $blur: 10px, $alpha: 0.2, $inset: false ) {
  @if $inset {
    -webkit-box-shadow:inset $x $y $blur rgba( 0, 0, 0, $alpha );
    -moz-box-shadow:inset $x $y $blur rgba( 0, 0, 0, $alpha );
    -ms-box-shadow:inset $x $y $blur rgba( 0, 0, 0, $alpha );
    -o-box-shadow:inset $x $y $blur rgba( 0, 0, 0, $alpha );
    box-shadow:inset $x $y $blur rgba( 0, 0, 0, $alpha );
  }@else {
    -webkit-box-shadow: $x $y $blur rgba( 0, 0, 0, $alpha );
    -moz-box-shadow: $x $y $blur rgba( 0, 0, 0, $alpha );
    -ms-box-shadow: $x $y $blur rgba( 0, 0, 0, $alpha );
    -o-box-shadow: $x $y $blur rgba( 0, 0, 0, $alpha );
    box-shadow: $x $y $blur rgba( 0, 0, 0, $alpha );
  }
}
@mixin rounded( $radius: 3px ) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin transition( $transition1, $transition2:false, $transition3:false ){
	@if( $transition2 and $transition3 ){
		transition: $transition1, $transition2, $transition3;
		-webkit-transition: $transition1, $transition2, $transition3;
		-moz-transition: $transition1, $transition2, $transition3;
		-ms-transition: $transition1, $transition2, $transition3;
		-o-transition: $transition1, $transition2, $transition3;
	}@else if( $transition1 and $transition2 ){
		transition: $transition1, $transition2;
		-webkit-transition: $transition1, $transition2;
		-moz-transition: $transition1, $transition2;
		-ms-transition: $transition1, $transition2;
		-o-transition: $transition1, $transition2;
	}@else{
		transition: $transition1;
		-webkit-transition: $transition1;
		-moz-transition: $transition1;
		-ms-transition: $transition1;
		-o-transition: $transition1;
	}
}
@mixin moviePosterTransform( $scale, $rotate ){
	transform: scale( $scale ) rotate( $rotate );
	-webkit-transform: scale( $scale ) rotate( $rotate );
	-moz-transform: scale( $scale ) rotate( $rotate );
	-ms-transform: scale( $scale ) rotate( $rotate );
	-o-transform: scale( $scale ) rotate( $rotate );
}

@mixin transform( $transform, $imp:false ){
	@if $imp{
		transform: $transform !important;
		-webkit-transform: $transform !important;
		-moz-transform: $transform !important;
		-ms-transform: $transform !important;
		-o-transform: $transform !important;
	}@else{
		transform: $transform;
		-webkit-transform: $transform;
		-moz-transform: $transform;
		-ms-transform: $transform;
		-o-transform: $transform;	
	}
}