.ui-wrapper, .ui-view, .ui-block{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
.ui-block-inner{
	position: absolute;
}
.movie-item-wrapper{
	position: absolute;
	float: left;
	width: 33.33%;
	height: 100%;
	background-color: #fff;
	@include shadow();
}
.movie-poster{
	z-index: 99;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	div{
		@extend .movie-poster;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}
.movie-info{
	display: none;
}

.movie-item-wrapper{
	overflow: hidden;
	position: relative;
	@include transition( ease opacity 0.5s, ease left 1s, ease position 0.8s );

	.movie-poster div{
		@include transition( ease left 0.3s, ease transform 0.2s, ease opacity 0.6s );
	}

	&.ng-enter{
		opacity: 0;
		left: -100%;
	}
	&.ng-enter.ng-enter-active{
		opacity: 1;
		left: 0%;
	}

	&.ng-leave{
		opacity: 1;
	}
	&.ng-leave.ng-leave-active{
		opacity: 0;
	}

}

.movie-item-wrapper.ng-enter .movie-poster div{
	left: -100%;
	@include moviePosterEnter( $scale: 0.8, $rotate: -45deg );
	opacity: 0;
}
.movie-item-wrapper.ng-enter.ng-ernter-active .movie-poster div{
	left: 0%;
	@include moviePosterEnter( $scale: 1, $rotate: 0deg );
	opacity: 1;
}