.ui-wrapper, .ui-view, .ui-block{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
.ui-block-inner{
	position: absolute;
}
.movie-item-wrapper{
	overflow: hidden;
	position: relative;
	float: left;
	width: 33.33%;
	height: 100%;
	background-color: #fff;
	@include shadow();
	@include transition( ease opacity 0.5s, ease left 1s, ease position 0.8s );

	/*angular animate*/
	&.ng-enter{
		opacity: 0;
		left: -100%;
	}
	&.ng-enter.ng-enter-active{
		opacity: 1;
		left: 0%;
	}

	&.ng-leave{
		opacity: 1;
	}
	&.ng-leave.ng-leave-active{
		opacity: 0;
	}

}
.movie-details-open{
	cursor: default;
	.movie-poster, .movie-item-overlay{
		top: -80%;
	}
	.movie-item-overlay{
		opacity: 0;
	}
}
.movie-item-overlay{
	z-index: 100;
	opacity: 0.3;
	@extend .ui-block;
	background-color: #000;
	cursor: pointer;
	@include transition( cubic-bezier(0, 0.88, 0, 1.19) top 0.4s, ease opacity 0.3s );
	&:hover {
		opacity: 0;
	}
}
.movie-poster{
	z-index: 99;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	@include transition( cubic-bezier(0, 0.88, 0, 1.19) all 0.4s );
	div{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@include transition( ease left 0.5s, ease transform 0.8s );
	}
}
.movie-info{
	position: absolute;
	width: 80%;
	height: 90%;
	top: 20%;
	margin: 10%;
	text-align: center;
	.movie-info-inner{
		z-index: 11;
		position: absolute;
		.movie-title, .movie-showtimes, .movie-summary, .book-now-btn{
			opacity: 0;
		}
	}
	.movie-info-animate-before{
		margin-top: 50px;
		@include transform( scale( 0.5 ) );
	}
	.movie-info-animate-start{
		opacity: 1 !important;
		margin-top: 20px;
		@include transform( scale( 1 ) );
		@include transition( margin 0.6s cubic-bezier(0, 4.23, 0, 0.72), ease transform 0.3s, ease opacity 0.2s );
	}
	.movie-title{
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 900;
	}
	.movie-showtimes{
		display: inline-block;
		margin-left: 0px;
		padding: 0px;
	}
	.movie-showtimes li{
		float: left;
		margin: 5px;
		padding: 5px;
		list-style: none;
		color: #777;
		background-color: #ececec;
		@include rounded( 3px );
	}
	.movie-summary{
		font-family: cambria;
		text-align: left;
		font-size: 18px;
		line-height: 26px;
	}
	.movie-info-overlay{
		z-index: 10;
		opacity: 0;
		position: absolute;
		width: 1000px;
		height: 1000px;
		top: 0px;
		left: 0px;
		background-color: #fff;
		@include rounded( 50% );
		@include transform( scale( 0 ) );
		@include transition( all 0.3s cubic-bezier(0, 0.14, 0.88, 0.58) );
	}
	.movie-info-overlay-open{
		opacity: 1;
		@include transform( scale( 1.8 ) );
	}
}
.movie-info-hidden{
	top: -100%;
	opacity: 0;
	@include transition( ease all 0.3s );
}
.booking-window{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 50%;
	background-color: #fff;
	@include transform( translateX( -50% ) scale( 0 ), $imp:true );
	@include transition( ease all 0.3s );
}
.booking-window-open{
	z-index: 300;
	top: 20%;
	left: 0px;
	width: 100%;
	height: 100%;
	@include transform( translateX( 0% ) scale( 1 ), $imp:true );
	transform-origin: bottom right;
}

.movie-item-wrapper.ng-enter .movie-poster div{
	left: -100%;
	@include transform( scale( 0.5 ) );
	opacity: 0;
}