<section id="movie-selector-block" class="ui-block">

	<section id="movie-item-wrapper-{{ $index }}" style="background-color:{{ movie.color }}" class="movie-item-wrapper" ng-repeat="movie in movies track by $index">
		<article class="movie-item-inner">
			
			<div class="movie-item-overlay" ng-click="showMovieDetails( $index, movie )"></div>

			<section class="movie-poster">
				<div style="background-image: url('{{ movie.poster }}');"></div>
			</section> <!-- movie poster -->

			<section class="movie-info">
				<article class="movie-info-inner">
					<div class="movie-title">{{ movie.title }}</div>
					<ul class="movie-showtimes cf">
						<li ng-repeat="showTime in movie.showTimes">{{ showTime }}</li>
					</ul>
					<p class="movie-summary">{{ movie.summary }}</p>
					<button type="button" class="book-now-btn btn" ng-click="bookNow()">Book Now</button>
					
					<div class="booking-window">
						
					</div>
					
				</article> <!-- movie info wrapper -->
				<div class="movie-info-overlay"></div>
			</section> <!-- movie info -->

		</article> <!-- movie item inner -->
	</section> <!-- movie item wrapper -->

</section> <!-- movie selector block -->